body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
}
a:focus {
	background-color: black;
}

.link_logo {
	display: inline-block;
}
select {
	font-size: 16px;
	height: 38px;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	width: 100vw;
}

button {
	background: #0d1831;
	color: #ffffff;
	border: 1px solid #0d1831;
	padding: 5px 10px;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
}

.link_logo {
	display: inline-block;
}

.bck_blue {
	background: #e7e9ed;
}

.bck_lblue {
	background: #98c5e9;
}

.img_cover {
	background-size: cover !important;
}

/* Footer */
footer {
	z-index: 100;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #0e4bad;
	padding: 30px 0px;
	margin: 0;
}

footer .img_cover {
	margin: 0 auto;
}

footer .footer_discl {
	margin: 10px 0px;
}
.img_cover {
	background-size: cover !important;
	background-position: center;
}
/* form */
.signin_wrapper {
	margin-top: 96px;
	padding: 20px;

	text-align: center;
}

.signin_wrapper form {
	width: 350px;
	margin: 0 auto;
}

.signin_wrapper form button {
	padding: 10px;
}

.signin_wrapper h2 {
	font-family: "Righteous", cursive;
	color: #98c6e9;
	font-size: 50px;
}

.user_dashboard {
	font-size: 60px;
	font-family: "Righteous", cursive;
	color: #d5ebfe;
	text-align: center;
	margin-top: 200px;
}

.progress {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	margin: 0;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
}
.error_label {
	color: #f44336;
	font-weight: 600;
	margin: 10px 0px;
}

.success_label {
	color: #98c5e9;
	font-weight: 600;
	margin: 10px 0px;
}
@media (max-width: 768px) {
	.container {
		margin: 20px;
	}
}
/* Admin  */
.admin_nav_link {
	text-decoration: none;
	outline: none;
}
.admin_container {
	margin-top: 96px;
	display: flex;
}
a:visited {
	color: inherit;
}
.admin_container .admin_nav_link {
	color: #ffffff;
	font-weight: 300;
	border-bottom: 1px solid #353535;
}

.admin_container .admin_left_nav {
	min-height: 100vh;
	background: #282828;
	border-right: 2px solid #01285e;
}

.admin_container .admin_right {
	flex-grow: 1;
	padding: 20px;
}
.admin_container .admin_progress {
	text-align: center;
	margin: 20px 0px;
}

.admin_container .matches_tag_red {
	font-weight: 700;
	color: #f44336;
}

.admin_container .matches_tag_green {
	font-weight: 700;
	color: #4caf50;
}

.admin_container h2 {
	margin: 0px 0px 50px 0px;
	border-bottom: 1px solid #dbdbdb;
	color: #414141;
	font-size: 40px;
}

.select_team_layout .wrapper {
	display: flex;
}

.select_team_layout .wrapper .left {
	flex-grow: 1;
}

.select_team_layout input[name="result_local_input"],
.select_team_layout input[name="result_away_input"] {
	width: 60px;
	text-align: center;
	background: #98c6e9;
	color: #ffffff;
}

.admin_submit button {
	font-size: 20px;
	margin: 40px 0px;
	background: #009688;
}

.editmatch_dialog_wrapper hr {
	margin: 20px 0px;
}

.MuiSelect-outlined.MuiSelect-outlined {
	min-width: 164px;
}
/* Featured */
.featured_wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;

	height: 800px;
	overflow: hidden;
}

.featured_stripes {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.featured_text {
	position: relative;
	font-family: "Righteous", cursive;
}



.featured_number {
	font-size: 270px;
	color: #ffffff;
	transform: translate(260px, 170px);
	position: absolute;
}

.featured_player {
	width: 500px;
	height: 500px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	position: absolute;
}
.featured_first {
	position: absolute;
	background: #0e1731;
	color: #ffffff;
	font-size: 92px;
	text-transform: uppercase;
	padding: 0px 20px;
}

.featured_second {
	position: absolute;
	background: #0e1731;
	color: #ffffff;
	font-size: 92px;
	text-transform: uppercase;
	padding: 0px 20px;
}

.stripe {
	width: 230px;
	height: 1280px;
	opacity: 0;
	transform: translate(-100%, -260px) rotate(25deg);
	background: #1e21d4;
	position: absolute;
	top: 0;
	left: 0;
	animation: stripeAnimation 0.5s ease-out forwards;
}

.featured_wrapper .stripe:nth-child(2) {
	animation: stripeAnimation2 1s ease-out forwards;
	background: #1e1ed4;
}
.featured_wrapper .stripe:nth-child(3) {
	animation: stripeAnimation3 1.5s ease-out forwards;
	background: #451ed4;
}
.number-text {
	position: absolute;
	font-family: Helvetica;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-25deg);
	font-size: 150px; /* Dostosuj rozmiar czcionki według potrzeb */
	color: white; /* Dostosuj kolor tekstu według potrzeb */
	animation: number 1s ease-in forwards;
}
@keyframes number {
	0% {
		opacity: 0;
		transform: rotate(50deg);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(-25deg);
	}
}


@keyframes stripeAnimation {
	0% {
		transform: translate(-100%, -260px) rotate(25deg);
		opacity: 0;
	}
	100% {
		transform: translate(calc(100% + 150px), -260px) rotate(25deg);
		opacity: 1;
	}
}
@keyframes stripeAnimation2 {
	0% {
		transform: translate(-100%, -260px) rotate(25deg);
		opacity: 0;
	}
	100% {
		transform: translate(calc(100% + 500px), -260px) rotate(25deg);
		opacity: 1;
	}
}
@keyframes stripeAnimation3 {
	0% {
		transform: translate(-100%, -260px) rotate(25deg);
		opacity: 0;
	}
	100% {
		transform: translate(calc(100% + 850px), -260px) rotate(25deg);
		opacity: 1;
	}
}

.animated-box {
	position: absolute;
	top: 50vh;
	height: 150px;
	width: 450px;
	background-color: #050505;
	opacity: 0; 
	animation-duration: 1s;

	animation-fill-mode: forwards;
	z-index: 100;
	animation-delay: 1s;
}

.left {
	animation-name: slideFromLeft;
	top: 550px;
}

.right {
	animation-name: slideFromRight;
}
@keyframes slideFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(35vw) skew(-25deg);

		opacity: 1;
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(50vw) skew(-25deg);

		opacity: 1;
	}
}

/* Matches */
.home_matches_wrapper {
    background: #8f9ca8;
    margin-top:9px;
    padding: 50px 0px;
    min-height: 800px;
}

.home_matches_wrapper .home_matches {
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
}

.home_matches_wrapper .home_matches .item {
    width: 50%;
    margin: 35px 0px;
}

.home_matches_wrapper .home_matches .item .wrapper {
    padding-right:30px;
	margin-left: 20px;
}

.match_block .match_date{
    color:#ffffff;
    font-size:18px;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
    display: flex;
}
.match_block .match_wrapper .match_bottom {
    margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
    background: #ffffff; 
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
}

.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
    float:left
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
    width: 50px;
    height: 50px;
    background-size: cover !important;
}
.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
    font-size: 30px;
    padding: 6px 10px;
}


.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right { 
    background: #0e1731;
    width: 70px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-top: 6px;
} 

.match_box_big {
    width:100%;
    border-bottom: 2px solid #98c6e9;
    padding: 20px;
    box-sizing: border-box;
    height: 143px;
    clear: both;
}

.match_box_big .block_wraper {
    display: inline-block;
    margin-right: 50px;
    float: left;
}

.match_box_big .block {
    display: flex;
}

.match_box_big .icon{
    width: 40px;
    height: 40px;
    background-size: cover !important;
}

.match_box_big .block .team,
.match_box_big .block .result {
    font-size: 21px;
    line-height: 51px;
    margin-left: 18px;
    font-weight: 300;
}

.match_box_big .block .result {
    font-weight: 500;
}

.block_wraper.nfo {
    border-left: 1px solid #98c6e9;
    height: 102px;
    padding-left: 10px;
    font-weight: 300;
    color: #5e5e5e;
}

.block_wraper.nfo div {
    margin: 5px 0px;
}

.match_filters {
     display: flex;
     border-bottom: 1px solid #01285e;
     background: #dff1ff;
}
.match_filters .tag {
    font-weight: 300;
    margin-bottom: 5px;
    color: #656565;
}
.match_filters .option {
    background: #ffffff;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.match_filters .option.active {
    background: #62a2d3;
    color: #fff;
}

.match_filters_box {
    padding: 10px 20px;
    border-right: 1px solid #01285e;
    background: #dff1ff;
}

.match_filters .cont {
    display: flex;
}

/* players */

.home_meetplayers { 
    background: #ffffff url('/src/Img/stripes.png');
}

.home_meetplayers_wrapper {
    padding-bottom: 100px;
    min-height: 600px;
}

.home_meetplayers .home_card_wrapper {
    position: relative;
    float: left;
    width: 630px;
    min-height: 600px;
}

.home_meetplayers .home_text_wrapper {
    float: right;
    width: 390px;
}

/* Player block */


.player_card_wrapper {
    background: #ffffff;
    border: 1px solid #ececec;
    width: 300px;
    padding: 10px 10px 20px 10px;
    font-family: 'Righteous';
}
.player_card_wrapper .player_card_thmb {
    border: 1px solid #eeeeee;
    width:100%;
    height:250px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.player_card_wrapper .player_card_nfo {
    position: relative;
}
.player_card_wrapper .player_card_number {
    color: #d6ecfe;
    font-size: 185px;
    text-align: right;
    line-height: 160px;
}

.player_card_wrapper .player_card_name {
    position: absolute;
    bottom: 0px;
}

.player_card_wrapper .player_card_name span { 
    display: block;
    font-size: 25px;
    color: #0d1831;
}

.home_text_wrapper {
    margin-top: 70px;
}

